<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sl_group.jinyuntong_oem">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application

        android:name=".base.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".welcome.view.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".regist.view.RegistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.sl_group.jinyuntong_oem.login.GestureLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".myshop.MyShopActivty"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gather.view.GatherActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gather_set_money.GatherSetMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".creditcard.view.CreditCardListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".bindcard.view.BindCreditCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".realname.view.RealnameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ScanCameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login_password.view.LoginPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".open_merchant.view.OpenMerchantActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".open_merchant.OpenMerchantSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".merchant_info.view.MerchantinfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".safe_set.SafeSetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gesture_password.GesturePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gesture_set.view.GesturePasswordSetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gesture_change.view.GesturePasswordChangeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".sms.view.SMSActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".vip_center.VipCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".web.LoadWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shop_info.ShopInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".settle_card_info.SettleCardInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gather_bill.view.GatherBillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gather_bill_details.GatherBillDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pay_bill.view.PayBillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pay_bill_details.PayBillDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gather_input_money.GatherInputMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".gather_rate.GatherRateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pay_password_change.view.PayPasswordChangeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pay_password.PayPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".share.ShareFaceToFaceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".share.OfficialActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".share.ShareRegistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".extract.view.ExtractActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".extract_result.ExtractResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".extract_record.ExtractRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".extract_record_details.ExtractRecordDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".deal_record.DealRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".deal_record_details.DealRecordDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".upvip_borkerage.UpVipBrokerageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".share.OfficialDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".new_details.NewDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".news.NewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".my_team.view.MyTeamActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.sl_group.jinyuntong_oem.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>


        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>


        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent101528316"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".web.X5WebViewActivity"/>
        <activity android:name=".notices.NoticesActivity"/>
        <activity android:name=".notice_details.NoticeDetailsActivity"/>
        <!-- umengAppKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bfa300ff1f556c66e000a22">
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng">
        </meta-data>


        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.sl_group.jinyuntong_oem"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>