<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.xinyilian.text">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application

        android:name="com.xinyilian.text.base.BaseApplication"
        android:icon="@mipmap/icon_xyl"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_xyl"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".welcome.view.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.xinyilian.text.regist.view.RegistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.login.GestureLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.myshop.MyShopActivty"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.login.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gather.view.GatherActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gather_set_money.GatherSetMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.creditcard.view.CreditCardListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.bindcard.view.BindCreditCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.realname.view.RealnameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.ScanCameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.login_password.view.LoginPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.open_merchant.view.OpenMerchantActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.open_merchant.OpenMerchantSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.merchant_info.view.MerchantinfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.safe_set.SafeSetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gesture_password.GesturePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gesture_set.view.GesturePasswordSetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gesture_change.view.GesturePasswordChangeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.sms.view.SMSActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.vip_center.VipCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.web.LoadWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.shop_info.ShopInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.settle_card_info.SettleCardInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gather_bill.view.GatherBillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gather_bill_details.GatherBillDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.pay_bill.view.PayBillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.pay_bill_details.PayBillDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gather_input_money.GatherInputMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.gather_rate.GatherRateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.pay_password_change.view.PayPasswordChangeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.pay_password.PayPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.share.ShareFaceToFaceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.share.OfficialActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.share.ShareRegistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.extract.view.ExtractActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.extract_result.ExtractResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.extract_record.ExtractRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.extract_record_details.ExtractRecordDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.deal_record.DealRecordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.deal_record_details.DealRecordDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.upvip_borkerage.UpVipBrokerageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.share.OfficialDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.new_details.NewDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.news.NewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.xinyilian.text.my_team.view.MyTeamActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xinyilian.text.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>


        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>


        <activity
            android:name="com.xinyilian.text.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent101528316"/>
            </intent-filter>
        </activity>
       <!-- 云核支付jar包内Activity-->
        <activity
            android:name="cn.cloudcore.iprotect.plugin.CKbdActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Translucent"
            >
        </activity>


        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.xinyilian.text.web.X5WebViewActivity"/>
        <activity android:name="com.xinyilian.text.notices.NoticesActivity"/>
        <activity android:name="com.xinyilian.text.notice_details.NoticeDetailsActivity"/>
        <!-- umengAppKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bfa300ff1f556c66e000a22">
        </meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng">
        </meta-data>


        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.xinyilian.text.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.sl_group.jinyuntong_oem"/>
            </intent-filter>
        </receiver>
         <!--云核安全键盘-->
        <service       android:name="cn.cloudcore.iprotect.service.CKeyBoardService"     android:exported="false" />
    </application>


</manifest>